<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Nuestra responsabilidad, esta contigo</span>
                    </h2>
                    <p class="mb-0">Lo más importante para nosotros es garantizarte la mayor comodidad y garantia de que todo saldra bien. Si no estas de acuerdo con alguno de ellos puedes contactarnos en nuestro apartado de contacto. No dudes en hablarnos.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer text-faded text-center py-5">
    <div class="container">
        <a href="https://www.facebook.com/"><img src="../images/facebook.png" width=5%></a> 
        <a href="https://www.youtube.com/"><img src="../images/youtube.png" width=5%></a>
        <a href="https://www.instagram.com/?hl=es"><img src="../images/instagram.png" width=5%></a>
        <a href="https://www.linkedin.com/home/?originalSubdomain=es"><img src="../images/linkdedin.png" width=5%></a>
        <a href="https://twitter.com/home?lang=es"><img src="../images/twitter.png" width=5%></a>
        <a href="https://github.com/search?q=hectorplinio"><img src="../images/github.png" width=5%></a>
        <a href="https://bitbucket.org/hectorplinio/reservamesas/src/master/"><img src="../images/bitbucket.png" width=5%></a>
    </div>
</footer>